@model RoomDetailsVM

<section class="menu-section">
    <h2>@ViewBag.SelectedCategory</h2>
    <div class="menu-grid">
        @foreach (var s in ViewBag.FoodServices)
        {
            <div class="menu-item">
                <label for="classic-omelette">
                    <div class="price">RM @s.UnitPrice</div>
                    <h3>@s.ServiceName</h3>
                </label>
                <div class="quantity-container">
                    <label for="food-@s.ServiceID">Qty:</label>
                    <input type="number"
                           id="@s.ServiceID"
                           name="foodQuantities"
                           min="0"
                           value="0" />
                    <input type="hidden"
                           name="foodServiceIds"
                           value="@s.ServiceID">
                </div>
            </div>
        }
    </div>
</section>