@model RoomDetailsVM

@{
    Layout = "_Layout2";
    ViewBag.Title = "RoomDetails";
    DateOnly min = ViewBag.Min;
    DateOnly max = ViewBag.Max;
    string mins = DateTime.Today.ToString("yyyy-MM-dd");
    string maxs = DateTime.Today.AddDays(30).ToString("yyyy-MM-dd");
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="/css/roomdetails.css" asp-append-version="true">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/roomdetails.js" defer></script>

<!-- Room Section -->
<div class="room-container">
    <div class="room-image">
        <img src="/uploads/@ViewBag.Categories.RoomImage" alt="Room Image">
    </div>
    <div class="room-details">
        <h1>@ViewBag.Categories.CategoryName</h1>
        <p><strong>Price:</strong> RM @ViewBag.Categories.PricePerNight/night</p>
        <p><strong>Size:</strong> @ViewBag.Categories.Size sqm</p>
        <p><strong>Capacity:</strong> @ViewBag.Categories.Capacity Adults</p>
        <p><strong>Bed:</strong> @ViewBag.Categories.Bed</p>
    </div>
</div>

<!-- Details Section -->
<div class="details-section">

    <div class="description">
        <h2>Description</h2>
        <p>
            @ViewBag.Categories.Description
        </p>
    </div>
    <div class="more-images">
        <h2>More Images</h2>
        <div class="image-grid">
            <img src="/img/RoomImg/double.jpg" alt="Image 1">
            <img src="/img/RoomImg/double_nature.jpg" alt="Image 2">
            <img src="/img/RoomImg/family.jpg" alt="Image 3">
            <img src="/img/RoomImg/family_nature.jpg" alt="Image 4">
            <img src="/img/RoomImg/premingking_nature.jpg" alt="Image 5">
            <img src="/img/RoomImg/Premium King.jpg" alt="Image 6">
            <img src="/img/RoomImg/single.jpg" alt="Image 6">
            <img src="/img/RoomImg/single_nature.jpg" alt="Image 6">
        </div>
    </div>
</div>


<form class="service-container" method="post">
    
    <h1 class="hotel-booking">Hotel Booking</h1>
    <input type="hidden" value="@ViewBag.Categories.CategoryID">

    <div class="room-status">
        <p>
            @* Generate links for previous, c{urrent and next months *@
            @for (int n = -1; n <= 1; n++)
            {
                if (n > -1)
                {
                    <text>|</text>
                }

                var d = DateTime.Today.AddMonths(n);
                <a data-ajax="true"
                   data-ajax-update="#RoomStatus"
                   data-ajax-loading="#loader"
                   href="?categoryID=@ViewBag.Categories.CategoryID&month=@d.ToString("yyyy-MM")">@d.ToString("MMMM")</a>
            }
        </p>
        <div id="RoomStatus">
            <partial name="RoomStatus" />
        </div>
    </div>

    <!-- Calendar Section -->
    <div class="booking-section">
        <div class="booking-form">
            <div class="form-group">
                <label asp-for="CheckInDate"></label>
                <input asp-for="CheckInDate" min="@mins" max="@maxs" />
                <span asp-validation-for="CheckInDate"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate"></label>
                <input asp-for="CheckOutDate" />
                <span asp-validation-for="CheckOutDate"></span>
            </div>
            <div class="form-group">
                <label>Days :</label>
                <span id="days" class="day"></span>
            </div>
        </div>
    </div>

    <!-- Food Section -->
    <div class="food-section">
        <h1 class="hotel-booking">Our Food Menu</h1>

        <section class="menu-section">
            <div class="service-breakfast">
                <h2>Breakfast</h2>
            </div>
            <div class="menu-grid">
                @foreach (var b in ViewBag.breakfastServices)
                {
                    <div class="menu-item">
                        <label>
                            <div class="price">RM @b.UnitPrice</div>
                            <h3>@b.ServiceName</h3>
                        </label>
                        <div class="quantity-container">
                            <label for="food-@b.ServiceID">Qty:</label>
                            <input type="number"
                                   id="@b.ServiceID"
                                   name="foodQuantities"
                                   min="0"
                                   value="0" />
                            <input type="hidden"
                                   name="foodServiceIds"
                                   value="@b.ServiceID">
                        </div>
                    </div>
                }
            </div>
        </section>
        <section class="menu-section">
            <div class="service-category">
                <h2>Lunch</h2>
            </div>
            <div class="menu-grid">
                @foreach (var l in ViewBag.lunchServices)
                {
                    <div class="menu-item">
                        <label>
                            <div class="price">RM @l.UnitPrice</div>
                            <h3>@l.ServiceName</h3>
                        </label>
                        <div class="quantity-container">
                            <label for="food-@l.ServiceID">Qty:</label>
                            <input type="number"
                                   id="@l.ServiceID"
                                   name="foodQuantities"
                                   min="0"
                                   value="0" />
                            <input type="hidden"
                                   name="foodServiceIds"
                                   value="@l.ServiceID">
                        </div>
                    </div>
                }
            </div>
        </section>
        <section class="menu-section">
            <div class="service-category">
                <h2>Dinner</h2>
            </div>
            <div class="menu-grid">
                @foreach (var d in ViewBag.dinnerServices)
                {
                    <div class="menu-item">
                        <label>
                            <div class="price">RM @d.UnitPrice</div>
                            <h3>@d.ServiceName</h3>
                        </label>
                        <div class="quantity-container">
                            <label for="food-@d.ServiceID">Qty:</label>
                            <input type="number"
                                   id="@d.ServiceID"
                                   name="foodQuantities"
                                   min="0"
                                   value="0" />
                            <input type="hidden"
                                   name="foodServiceIds"
                                   value="@d.ServiceID">
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>

    <!-- Add-On Services Section -->
    <div class="addon-section">
        <h1 class="hotel-booking">Add-On Services</h1>

        @foreach (var service in ViewBag.RoomServices)
        {
            <div class="addon-item">
                <label for="@service.ServiceID">@service.ServiceName RM(@service.UnitPrice)</label>
                <input type="number"
                       name="roomQuantities"
                       id="@service.ServiceID"
                       min="0"
                       value="0">
                <input type="hidden"
                       name="roomServiceIds"
                       value="@service.ServiceID">
            </div>
        }

        <button class="book-btn" id="book-btn">Book Now</button>
    </div>
</form>