@model RoomPageVM

@{
    Layout = "_Layout";
    ViewBag.Title = "Room";
}
<link rel="stylesheet" href="/css/room.css" asp-append-version="true">
<script src="/js/room.js" defer></script>

<!-- Booking Section -->
<section class="booking-section">
    <form class="booking-form" method="post">
        <div class="form-group">
            <label asp-for="SearchVM.CheckInDate"></label>
            <input asp-for="SearchVM.CheckInDate" type="date" />
            <span asp-validation-for="SearchVM.CheckInDate"></span>
        </div>
        <div class="form-group">
            <label asp-for="SearchVM.CheckOutDate"></label>
            <input asp-for="SearchVM.CheckOutDate" type="date" />
            <span asp-validation-for="SearchVM.CheckOutDate"></span>
        </div>
        <div class="form-group">
            <label asp-for="SearchVM.Person"></label>
            <input asp-for="SearchVM.Person" type="number" />
            <span asp-validation-for="SearchVM.Person"></span>
        </div>
        <button class="btn">Check Availability</button>
    </form>
</section>


<!-- Filter Section -->
<div class="main-container">
    <div class="filter-container">

        <div class="filter-group">
            <h3>Price</h3>
            <div class="price-input">
                <div class="field">
                    <span>Min</span>
                    <input type="number" class="input-min" value="100">
                </div>
                <div class="separator">-</div>
                <div class="field">
                    <span>Max</span>
                    <input type="number" class="input-max" value="500">
                </div>
            </div>
            <div class="slider">
                <div class="progress"></div>
            </div>
            <div class="range-input">
                <input type="range" class="range-min" min="100" max="500" value="100" step="10">
                <input type="range" class="range-max" min="100" max="500" value="500" step="10">
            </div>
        </div>

        <div class="filter-group">
            <h3>Theme</h3>
            @{
                var selectedThemes = Context.Request.Query["themes"].ToString().Split(',', StringSplitOptions.RemoveEmptyEntries);
            }
            @foreach (var theme in ViewBag.Themes)
            {
                <div class="filter-item">
                    <input type="checkbox"
                           class="theme-checkbox"
                           value="@theme"
                           id="theme-@theme"
                    @(selectedThemes.Any(t => t == theme) ? "checked" : "")
                           onclick="handleThemeFilter(this)" />
                    <label for="theme-@theme">@theme</label>
                </div>
            }
        </div>

        <div class="filter-group">
            <h3>Room Type</h3>
            @{
                var selectedCategories = Context.Request.Query["category"].ToString().Split(',', StringSplitOptions.RemoveEmptyEntries);
            }
            @foreach (var category in ViewBag.RoomCategory)
            {
                <div class="filter-item">
                    <input type="checkbox"
                           class="category-checkbox"
                           value="@category"
                           id="category-@category"
                    @(selectedCategories.Any(c => c == category) ? "checked" : "")
                           onclick="handleCategoryFilter(this)" />
                    <label for="category-@category">@category</label>
                </div>
            }
        </div>

        <div class="clear-all-container">
            <button id="clear-all" class="clear-button">Clear All</button>
        </div>
    </div>

    <!-- Hotel Table -->
    <div class="content-container">
        <div class="hotel-table">
            <table>
                <thead>
                    <tr>
                        <th>Hotel Image</th>
                        <th>Type</th>
                        <th>Theme</th>
                        <th>Size</th>
                        <th>Capacity</th>
                        <th>Bed</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td><img src='/uploads/@category.RoomImage' alt="Hotel 1" class="hotel-image"></td>
                            <td>@category.CategoryName</td>
                            <td>@category.Theme</td>
                            <td>@category.Size sq. ft.</td>
                            <td>Max person @category.Capacity</td>
                            <td>@category.Bed</td>
                            <td>RM @category.PricePerNight/night</td>
                            <td><a href="/Home/RoomDetailsPage?categoryID=@category.CategoryID" class="book-btn" target="_blank">Book Now</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
