@{
    Layout = "_NavigationBar";
    ViewBag.Title = "Admin Profile";
}
<link href="/css/profile.css" rel="stylesheet" />

<div style="justify-items: center;">
    <div class="profile-card">
        <div class="profile-left">
            <img src="/photos/@ViewBag.UserImage" class="profile-pic">
            <h2 class="profile-name">@ViewBag.UserName</h2>
            <p class="profile-role">@ViewBag.UserRole</p>
        </div>
        <div class="profile-right">
            <h3>Profile Details</h3>
            <p><strong>Name:</strong> @ViewBag.UserName</p>
            <p><strong>Mobile:</strong> @ViewBag.UserPhone</p>
            <p><strong>Email:</strong> @ViewBag.UserEmail</p>
            <div class="button-container">
                <button class="btn" data-get="EditProfile">Edit Profile</button>
                <button class="btn" data-get="ChangePassword">Change Password</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '[data-get]', function (e) {
    e.preventDefault();
    const url = e.target.dataset.get;
    if (url) {
        location.href = url;
    } else {
        console.warn('No URL found in data-get attribute');
    }
});

</script>