@model IEnumerable<Category>
@{
    Layout = "_NavigationBar";
    ViewBag.Title = "Room Category";
}

<div class="table-responsive">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row-table">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">@ViewBag.Title</h2>
                        <button class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>add item
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Theme</th>
                <th>Size</th>
                <th>Capacity</th>
                <th>Bed</th>
                <th>Price (Per Night)</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ct in Model)
            {
                <tr>
                    <td>@ct.CategoryID</td>
                    <td>@ct.CategoryName</td>
                    <td>@ct.Theme</td>
                    <td>@ct.Size</td>
                    <td>@ct.Capacity</td>
                    <td>@ct.Bed</td>
                    <td>@ct.PricePerNight</td>
                    <td>@ct.Status</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm">Terminate</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
