@inject DB db

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- icon Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/_Layout2.css" asp-append-version="true">
    @RenderSection("head", false)
</head>

<body>
    <!-- Info -->
    <div class="info">@Html.Raw(TempData["Info"])</div>

    <!-- Header Section -->
    <header class="navbar">
        <div class="logo">
            <a href="/">EASYSTAYS</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/Home/RoomPage">Room</a>
            <a href="/Home/AboutUs">About Us</a>
        </div>
        <div class="nav-login">
            @if (User.IsInRole("Member"))
            {
                <label for="dropdownToggle" class="more-icon">
                    <i class="fa fa-bars"></i>
                </label>

                <input type="checkbox" id="dropdownToggle" class="dropdown-toggle">

                <div class="account-dropdown">
                    <div class="user-details">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            var user = db.Users.FirstOrDefault(u => u.Email == User.Identity.Name);

                            if (user != null)
                            {
                                <div class="profile-info">
                                    <div class="image">
                                        <img src="@Url.Content("~/photos/" + user.UserImage)" alt="Profile Picture" />
                                    </div>
                                    <label class="js-acc-btn">@user.Name</label>
                                </div>
                            }
                        }
                    </div>
                    <div class="account-dropdown__body">
                        <div class="account-dropdown__item">
                            <a href="/Account/Profile">
                                <i class="fas fa-user"></i> Account
                            </a>
                        </div>
                    </div>
                    <div class="account-dropdown__footer">
                        <a href="/Account/Logout">
                            <i class="fas fa-power-off"></i> Logout
                        </a>
                    </div>
                </div>

            }
            else
            {
                <a href="/Account/Login" class="login-button">Login</a>
            }
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <p>Follow Our Social Media:</p>
                <ul>
                    <li><a href="https://www.facebook.com/tarumtkl" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://instagram.com/tarumt.official?igshid=YmMyMTA2M2Y=" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="footer-center">
                <p>Have any question?</p>
                <p>Email: <a href="mailto:info@tarc.edu.my">info@tarc.edu.my</a></p>
                <p>Phone: <a href="tel:0123456789">012 345 6789</a></p>
            </div>

            <div class="footer-right">
                <img src="/img/LOGO.jpg" alt="Company Logo" class="footer-logo">
                <p>&copy; 2024 EASYSTAYS MALAYSIA</p>
            </div>
        </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/app.js" asp-append-version="true"></script>
    @RenderSection("foot", false)
</body>
</html>
