@model IEnumerable<Service>
@{
    Layout = "_NavigationBar";
    ViewBag.Title = "Services";
}

<div class="table-responsive">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row-table">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">@ViewBag.Title</h2>
                        <button class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>add item
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Service Name</th>
                <th>Price (Per Unit)</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sr in Model)
            {
                <tr>
                    <td>@sr.ServiceID</td>
                    <td>@sr.ServiceName</td>
                    <td>@sr.UnitPrice</td>
                    <td>@sr.ServiceType.ServiceTypeName</td>
                    <td>@sr.Status</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm">Terminate</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
