@{
    Layout = "_Layout2";
    ViewBag.Title = "Room";
}
<link rel="stylesheet" href="/css/payment.css" asp-append-version="true">


<div class="checkout-container">
    <div class="left-side">
        <div class="text-box">
            <h1 class="home-heading">EASYSTAYS</h1>
            <p class="home-des"><em>Where Comfort and Memories Are Made </em></p>
            <hr class="left-hr" />
        </div>
    </div>

    <form class="right-side" method="post" action="/Payment/CreateCheckoutSession">
        <div class="receipt">
            <div>
                <h2 class="receipt-heading">Receipt Summary</h2>
                <h3>
                    @ViewBag.roomCategory
                </h3>
                <p>
                    @ViewBag.checkIn.ToString("yyyy-MM-dd") to
                    @ViewBag.checkOut.ToString("yyyy-MM-dd")
                </p>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <td>RM @ViewBag.roomPrice x @ViewBag.numberOfDays nights</td>
                        <td class="price">RM @ViewBag.roomTotalPrice</td>
                    </tr>
                    @if (ViewBag.SelectedFoodServices != null)
                    {
                        foreach (var f in ViewBag.SelectedFoodServices)
                        {
                            <tr>
                                <td>@f.category: @f.serviceName x @f.quantity</td>
                                <td class="price">RM @f.price</td>
                            </tr>
                        }
                    }
                    @if (ViewBag.SelectedRoomServices != null)
                    {
                        foreach (var r in ViewBag.SelectedRoomServices)
                        {
                            <tr>
                                <td>@r.category: @r.serviceName x @r.quantity</td>
                                <td class="price">RM @r.price</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>Subtotal</td>
                        <td class="price">RM @ViewBag.Subtotal</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td class="price">RM @ViewBag.Tax</td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td class="price">RM @ViewBag.Total</td>
                        <input type="hidden" id="total" name="total" value="@ViewBag.Total" />
                    </tr>
                </table>
            </div>
        </div>

        <div class="payment-info">
            <button class="btn" type="submit">Pay Now</button>
        </div>
    </form>
</div>
